<div class="reveal">
  <div class="slides">

    <section class="slide_intro" data-background="assets/images/fp_js.jpg" data-background-size="100px">
      <div>
        <h3>Introduction to Functional Programming</h3>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>Composition
          <br/>Abstraction</h3>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>Functional Programming is a programming paradigm</h3>
        <p>like imperative (procedural) programming or object oriented programming</p>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>ObjectOriented Programming</h3>
        <p>
          Composition of object
          <br> Abstraction over the behaviour of each object
        </p>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>Functional Programming</h3>
        <p>
          Composition of function
          <br/> Abstraction over mathematical laws
        </p>
      </div>
    </section>

    <section app-cat data-state='slide_cat' class='slide_cat'>
    </section>

    <section app-fn data-state='slide_fn' class='slide_fn'>
    </section>

    <section app-pf class='slide_pf'>
    </section>

    <section app-hof class='slide_hof'>
    </section>

    <section app-mr class='slide_mr'>
    </section>

    <section app-curry class='slide_curry'>
    </section>

    <section app-com class='slide_com'>
    </section>

    <section app-functor class='slide_functor'>
    </section>

    <section app-applicative class='slide_applicative'>
    </section>

    <section app-monad class='slide_monad'>
    </section>
  </div>
</div>