<div class="reveal">
  <div class="slides">
    <section class="slide0" data-background="../assets/images/fp_js.jpg" data-background-size="100px">
      <div>
        <h3>Functional Programming:
          <br/>A Pragmatic Introduction</h3>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>Functional Programming (FP) is a programming paradigm</h3>
        <p>like imperative (procedural) programming or object-oriented programming (OOP)</p>
      </div>
    </section>

    <section>
      <div>
        <h3 class='yellow'>Programming by Composing Pure Functions</h3>
        <p>is Functional Programming</p>
      </div>
    </section>

    <section data-state='slide_pf' class='slide_pf'>
      <app-pf></app-pf>
    </section>

    <section data-state='slide_hof' class='slide_hof'>
      <app-hof></app-hof>
    </section>

    <section data-state='slide_curry' class='slide_curry'>
      <app-curry></app-curry>
    </section>


    <section>2</section>
    <section>3</section>
    <section>4</section>
    <section>5</section>
    <section>6</section>
    <section>7</section>
  </div>
</div>