/* You can add global styles to this file, and also import other style files */
.reveal {
    font-family: 'Quicksand', sans-serif !important;
}

.reveal .slides {
    width: 1280px !important;
}

.yellow {
    color: #F8DC3D !important;
}

.reveal pre {
    width: 50% !important;
}
.reveal pre code {
    background: transparent !important;
}