<section>
    <div>
        <h3 class='yellow'>Applicatives</h3>
        <p>
            An applicative is a
            <i>type</i> that implements ap
        </p>
    </div>
</section>

<section>
    <div>
        <p>Our values are wrapped in a container, just like Functors
            <br> and our functions are wrapped in a container too!</p>
        <div class='applicativeWrapper'>
            <div class='fnBox'>
                <img src="assets/images/functor_value_wrapper.png">
            </div>
            <div class='fnBox'>
                <img src="assets/images/applicative_fn_wrapper.png">
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <p>Applicatives | Behind the scenes</p>
        <img class='functorImg' src="assets/images/applicative_in_action.png">
    </div>
</section>

<section data-state='slide_applicative'>
    <div>
        <h3></h3>
        <p class='yellow'>Applicatives | Example</p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput">
            </ngx-monaco-editor>
        </div>
    </div>
</section>