<section>
    <div>
        <h3 class='yellow'>Category Theory</h3>
        <p>
            How
            <i>things</i> compose
        </p>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>What is category ?</h3>
        <img class='categoryImg' src="assets/images/category_1.png">
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Category' Rules</h3>
        <ul>Identity</ul>
        <ul>Composition</ul>
        <ul>Associativity</ul>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Identity</h3>
        <img class='categoryImgI' src="assets/images/category_identity.png">
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Composition</h3>
        <img class='categoryImgC' src="assets/images/category_composition.png">
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Associativity</h3>
        <img class='categoryImgA' src="assets/images/category_associativity.png">
    </div>
</section>