<section>
    <div>
        <h3 class='yellow'>Curried Function</h3>
    </div>
</section>

<section data-state='slide_curry'>
    <div>
        <h3></h3>
        <p class='yellow'>A function that will return a new function <br/>until it receives all its arguments</p>
    </div>
    <div>
        <pre class="curryCode">
            <code class="javascript">
                    let curry = require('lodash/curry');
                    
                    let match = curry((what, str) => str.match(what))
                    
                    let hasSpaces = match(/\s+/g);
                    hasSpaces("Hello World"));

                    let hasColon=match(/;+/g)
                    hasColon("Hello World;");
            </code>
        </pre>
    </div>
</section>