<section>
    <div>
        <h3 class='yellow'>What is a Function ?</h3>
    </div>
</section>

<section>
    <div>
        <h3>Math definition</h3>
        <p class='yellow'>A function relates each element of a set with exactly one element of another set and is denoted as f: X -> Y
        </p>
    </div>
    <div class='fn'>
        <img src="../../assets/images/function-sets.svg">
    </div>

    <div>
        <p>'One-to-many' is not allowed, but 'many-to-one' is allowed</p>
        <div class='fnWrapper'>
            <div class='fnBox'>
                <img src="../../assets/images/function-sets-1-2.gif">
            </div>
            <div class='fnBox'>
                <img src="../../assets/images/function-sets-2-1.gif">
            </div>
        </div>
    </div>
</section>