<section>
    <div>
        <h3 class='yellow'>Functors</h3>
        <p>
            A functor is any <i>type</i> that defines how map works.<br/>
            Functors apply a function to a wrapped value
        </p>
    </div>
</section>

<section>
    <div>
        <p>Let' take a simple value</p>
        <img class='functorImg' src="assets/images/functor_value.png">
    </div>
</section>

<section>
    <div>
        <p>We know how to apply a function to this value</p>
        <img class='functorImg' src="assets/images/functor_value_fun.png">
    </div>
</section>

<section>
    <div>
        <p>Introducing container</p>
        <img class='functorImg' src="assets/images/functor_value_wrapper.png">
    </div>
</section>

<section>
    <div>
        <p>You can’t apply a normal function to the container</p>
        <img class='functorImg' src="assets/images/functor_value_wrapper_normal_fun.png">
    </div>
</section>

<section>
    <div>
        <p>You need Map function</p>
        <img class='functorImg' src="assets/images/functor_value_wrapper_map.png">
    </div>
</section>

<section>
    <div>
        <p>Map | Behind the scenes</p>
        <img class='functorImg' src="assets/images/functor_value_wrapper_map_in_detail.png">
    </div>
</section>

<section data-state='slide_functor'>
    <div>
        <h3></h3>
        <p class='yellow'>Functors | Example</p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput">
            </ngx-monaco-editor>
        </div>
    </div>
</section>