<section>
    <div>
        <h3 class='yellow'>Higher Order Function</h3>
    </div>
</section>

<section data-state='slide_hof'>
    <div>
        <p class='yellow'>Functions which take functions as input or return functions as output</p>
        <p class='hop_sub_p'>A good mental model would be: <br/>patterns in code = functions <br/>patterns in functions = higher order functions </p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput">
            </ngx-monaco-editor>
        </div>
    </div>
</section>