<section data-state='slide_mr'>
    <div>
        <h3></h3>
        <p class='yellow'>Let’s dive into some more examples</p>
    </div>
    <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
    </ngx-monaco-editor>
</section>

<section data-state='slide_mr_1'>
    <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode_1">
    </ngx-monaco-editor>
</section>

<section data-state='slide_mr_2'>
    <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode_2">
    </ngx-monaco-editor>
</section>