<section data-state='slide_mr'>
    <div>
        <p class='yellow'>Higher Order Function | Example</p>
    </div>
    <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
    </ngx-monaco-editor>
</section>

<section data-state='slide_mr_1'>
    <div>
        <p class='yellow'>Using a for-loop we would write something like this</p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode_1">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run_1()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput_1">
            </ngx-monaco-editor>
        </div>
    </div>
</section>

<section>
    <div>
        <h3>Map</h3>
        <p class='yellow'>A map fn takes a list and a function as input. The function is applied to every element of the list generating an
            output list.
        </p>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/map.png">
        </div>
    </div>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate_1.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange_1.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon_1.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon_1.png">
        </div>
    </div>
</section>


<section>
    <div>
        <h3>Reduce (fold)</h3>
        <p class='yellow'>A reduce fn takes a list, an initial value and a fn as input and The function is applied to every element accumulating
            the output in each step.
        </p>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
    <div class="mrWrapperReducefn">
        <div class="mrBox">
            <img src="assets/images/fruit-bowl.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/reduce.png">
        </div>
    </div>
</section>
<section>
    <div class="mrWrapper">
        <div class="mrBox">
            <img src="assets/images/pomegranate.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/orange.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/watermelon.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/lemon.png">
        </div>
    </div>
    <div class="mrWrapperReducefn">
        <div class="mrBox">
            <img src="assets/images/fruit-bowl.png">
        </div>
        <div class="mrBox">
            <img src="assets/images/reduce.png">
        </div>
    </div>
    <div class="mrWrapperReducefnOut">
        <div class="mrBox">
        </div>
        <div class="mrBox">
            <img src="assets/images/fruit-salad.png">
        </div>
    </div>
</section>

<section data-state='slide_mr_2'>
    <div>
        <p class='yellow'>Using a Higher Order Functions like Map and Reduce</p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode_2">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run_2()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput_2">
            </ngx-monaco-editor>
        </div>
    </div>
</section>