<section>
    <div>
        <h3 class='yellow'>Programming Paradigm</h3>
    </div>
</section>

<section>
    <div>
        <p class='yellow'>Classification of various paradigms
            <br/> is based a particular style of programming</p>
        <img class='pfImg' src="assets/images/paradigm.png">
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Imperative Programming Paradigm</h3>
        <p>
            A programming style where computation is expressed as a sequence of statements which change state
        </p>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Imperative Programming Paradigm</h3>
        <p>
            Based on Von Neumann machine with registers and modifiable memory. The memory is manipulated by the program through variables
            and assignments
        </p>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Imperative Programming Paradigm</h3>
        <p>
            Order of execution is important and primary control flow are loops, conditions, function (sub-routine or method) calls
        </p>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Object-Oriented Programming Paradigm</h3>
        <p>
            A programming style where computation is expressed as a composition of objects which combine data and code
        </p>
    </div>
</section>

<section>
    <div>
        <h3 class='yellow'>Declarative Programming Paradigm</h3>
        <p>
            A computational model where the problem is described in terms of ‘what’ and not ‘how’
        </p>
        <pre>
            <code class="javascript">
                let a = x => x+1;
                console.log(a);
                console.log(a(6));
            </code>
        </pre>
    </div>
</section>