<section>
    <div>
        <h3 class='yellow'>Pure Function</h3>
    </div>
</section>

<section data-state='slide_pf'>
    <div>
        <p class='yellow'>A function that, given the same input, will always return the same output and does not have any observable side effect.</p>
    </div>
    <div class="eWrapper">
        <div class="eBox">
            <ngx-monaco-editor class="mEditor" [options]="jsEditorOptions" [(ngModel)]="mainCode">
            </ngx-monaco-editor>
            <button type="button" class="btn btn-success run" (click)="run()">Run</button>
            <br/>
        </div>
        <div class="eBox">
            <ngx-monaco-editor class="mEditorOut" [options]="htmlEditorOptions" [(ngModel)]="consoleOutput">
            </ngx-monaco-editor>
        </div>
    </div>
</section>