.mEditor {
    height: 300px;
    text-align: left;
    font-size: 40px;
    overflow: hidden;
}
.mEditorOut {
    height: 300px;
    text-align: left;
    font-size: 40px;
    overflow: hidden;
}
.monaco-editor { overflow: hidden; }

.btn.run {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.yellow {
    color: #F8DC3D;
}

.eWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
  }

.eBox {
    padding: 5px;
  }